{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Mi Blog
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'core/styles.css' %}">
</head>
<body>

   <nav>
    <a href="{% url 'core:home' %}">Inicio</a>

    <a href="{% url 'core:post_list' %}">
        Posts
    </a>

    <a href="{% url 'core:post_create' %}">
        Nuevo Post
    </a>

    <a href="/admin/">
        Admin
    </a>
</nav>

    <hr>

    {% block content %}
    {% endblock %}

</body>
</html>