{% extends 'base.html' %}

{% block title %}
    Posts
{% endblock %}

{% block content %}

<h1>Posts</h1>

<p>
    <a href="{% url 'core:post_create' %}">
        Crear nuevo post
    </a>
</p>

<ul>
    {% for post in posts %}
        <li>

            <h3>{{ post.title }}</h3>

            <p>
                {{ post.content|truncatechars:100 }}
            </p>

            <div class="actions">

                <a href="{% url 'core:post_detail' post.pk %}">
                    Ver
                </a>

                <a href="{% url 'core:post_update' post.pk %}">
                    Editar
                </a>

                <a href="{% url 'core:post_delete' post.pk %}">
                    Eliminar
                </a>

            </div>

        </li>
    {% empty %}
        <li>No hay publicaciones.</li>
    {% endfor %}
</ul>

{% endblock %}